<div id="content" class="container">
    <div id="turnos" class="card-panel">
        <h3 class="col s12">Turnos</h3>
        <table class="responsive-table highlight">
            <thead>
                <tr>
                    <th>Médico</th>
                    <th>Especialidad</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Eliminar</th>
                </tr>
            </thead>

            <tbody>
                {{#each user.turnos}}
                <tr id="tableRow">
                    <td id="turnoName">{{this.name}}</td>
                    <td id="turnoTipo">{{this.especialidad}}</td>
                    <td id="turnoVia">{{this.fecha}}</td>
                    <td id="turnoVia">{{this.hora}}</td>
                    <td><button id="deleteturnoBtn" class="btn-floating btn waves-effect waves-light red"
                            onclick="deleteturno(this, '{{this.name}},{{this.fecha}},{{this.hora}}')">
                            <i class="material-icons">delete</i>Eliminar
                        </button>
                    </td>
                    {{/each}}
                </tr>

            </tbody>
        </table>
    </div>
</div>

<script>
    const deleteturnoBtn = document.getElementById("deleteturnoBtn");
    const tableRow = document.getElementById("tableRow");
    const turnoName = document.getElementById("turnoName");
    const turnoTipo = document.getElementById("turnoTipo");
    const turnoVia = document.getElementById("turnoVia");
    const misturnosForm = document.getElementById("misturnosForm");

    function deleteturno(button, medico, fecha, hora) {
        const ajaxRequest = new XMLHttpRequest();
        ajaxRequest.addEventListener("load", function () {
            if (this.status == 200) {

                button.parentNode.parentNode.remove()
            };
        });

        ajaxRequest.open("POST", "/removeTurno");
        ajaxRequest.setRequestHeader("Content-Type", "application/json");
        ajaxRequest.send(JSON.stringify({ string: medico, fecha, hora }));
    }
</script>