<div id="content" class="container">
    <div class="card-panel">
        <h4>Paciente : {{user.name}} {{user.surname}}</h3>
            <table class="responsive-table highlight">
                <thead>
                    <tr>
                        <th>Medico</th>
                        <th>Especialidad</th>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Añadir</th>
                    </tr>
                </thead>

                <tbody>
                    {{#each medicosList}}
                    {{#each this.disponibilidad_turnos}}
                    {{#if this.reservado}}
                    {{else}}
                    <form id="turnosForm" class="card-panel" action="/sacarTurnoParte2" method="POST">
                        <tr id="tableRow">
                            <td><input type="text" name="name" hidden value="{{../this.name}}">{{../this.name}}</td>
                            <td><input type="text" name="especialidad" hidden
                                    value="{{../this.especialidad}}">{{../this.especialidad}}</td>
                            <td><input type="text" name="fecha" hidden value="{{this.fecha}}">{{this.fecha}}</td>
                            <td><input type="text" name="hora" hidden value="{{this.hora}}">{{this.hora}}</td>
                            <td><button type="submit" class="btn-floating btn waves-effect waves-light green">
                                    <i class="material-icons">add</i>Agregar</button> </td>

                        </tr>
                    </form>
                    {{/if}}
                    {{/each}}
                    {{/each}}
                </tbody>
            </table>
    </div>
</div>